# ==== 通知类 ====
# 定义京东多合一签到推送签到结果通知类型（选填）
## 默认推送签到结果通知，如想要静默不发送通知，填 "true" 表示不发送通知
JD_BEAN_SIGN_NOTIFY_SIMPLE=true
# 定义京东领现金是否静默运行（选填）
## 默认为 "false"，不静默，推送通知消息，如不想收到通知，请修改为 "true"
CASH_NOTIFY_CONTROL=true
# 定义宠汪汪兑换京豆是否静默运行（选填）
## 默认为 "false"，不静默，推送通知消息，如不想收到通知，请修改为 "true"
JD_JOY_REWARD_NOTIFY=true
# 定义点点券是否静默运行（选填）
## 默认为 "false"，不静默，推送通知消息，如不想收到通知，请修改为 "true"
DDQ_NOTIFY_CONTROL=true
# 定义宠汪汪是否自动给好友的汪汪喂食（选填）
## 默认 "false" 不会自动给好友的汪汪喂食，如想自动喂食，请修改为 "true"
JOY_HELP_FEED=true
# 14. 定义宠汪汪赛跑获胜后是否推送通知（选填）
## "false" 为不推送通知消息，"true" 为发送推送通知消息
JOY_RUN_NOTIFY=false
# 18. 定义东东超市兑换奖品成功后是否静默运行（选填）
## 默认 "false" 关闭（即:奖品兑换成功后会发出通知提示），如需要静默运行不发出通知，请修改为 "true"
MARKET_REWARD_NOTIFY=true
# 32. 定义京喜农场控制通知推送级别（选填）
## 默认为 "1"，通知级别（0=只通知成熟；1=本次获得水滴>0；2=任务执行；3=任务执行+未种植种子）
JXNC_NOTIFY_LEVEL=0

# ==== 控制类 ====
# 10. 定义宠汪汪喂食克数（选填）
## 您期望的宠汪汪每次喂食克数，只能填入10、20、40、80，默认为10
## 如实际持有食物量小于所设置的克数，脚本会自动降一档，直到降无可降
## 具体情况请自行在宠汪汪游戏中去查阅攻略
JOY_FEED_COUNT=80
# 16. 定义宠汪汪积分兑换京豆数量（选填）
## 目前的可用值包括：0、20、500，其中0表示为不自动兑换京豆，如不设置，将默认为"0"
## 不同等级可兑换不同数量的京豆，详情请见宠汪汪游戏中兑换京豆选项
## 500的京豆每天有总量限制，设置了并且您也有足够积分时，也并不代表就一定能抢到
JD_JOY_REWARD_NAME=500
# 17. 定义东东超市兑换京豆数量（选填）
## 东东超市蓝币兑换，可用值包括：
## 一、0：表示不兑换京豆，这也是js脚本的默认值
## 二、20：表示兑换20个京豆
## 三、1000：表示兑换1000个京豆
## 四、可兑换清单的商品名称，输入能跟唯一识别出来的关键词即可，比如：MARKET_COIN_TO_BEANS="抽纸"
## 注意：有些比较贵的实物商品京东只是展示出来忽悠人的，即使您零点用脚本去抢，也会提示没有或提示已下架
MARKET_COIN_TO_BEANS=1000
# 22. 定义 unsubscribe 取关参数（选填）
## 具体教程：https://gitee.com/lxk0301/jd_docker/blob/master/githubAction.md#%E5%8F%96%E5%85%B3%E5%BA%97%E9%93%BAsecret%E7%9A%84%E8%AF%B4%E6%98%8E
## jd_unsubscribe这个任务是用来取关每天做任务关注的商品和店铺，默认在每次运行时取关20个商品和20个店铺
## 如果取关数量不够，可以根据情况增加，还可以设置 jdUnsubscribeStopGoods 和 jdUnsubscribeStopShop
## 商品取关数量
goodPageSize=200
## 店铺取关数量
shopPageSize=200
## 遇到此商品不再取关此商品以及它后面的商品，需去商品详情页长按拷贝商品信息
jdUnsubscribeStopGoods=
## 遇到此店铺不再取关此店铺以及它后面的店铺，请从头开始输入店铺名称
jdUnsubscribeStopShop=

# ======  以上是脚本默认配置

# 企业微信通知
QYWX_KEY=
QYWX_AM_TMP=

# DB 配置
# 保证以下密码一致
MYSQL_ROOT_PASSWORD=123456
DB_PASSWORD=123456

MYSQL_DATABASE=jd_runner
DB_DATABASE=jd_runner

DB_HOST=localhost
DB_PORT=3306
DB_USER=root

# 环境配置
APP_ENV=production

# 密码盐
PASSWORD_SALT=EWRFHSDIOFEWRYWIERWHJKHFDSF32REF

# 导航栏添加二维码的链接 (弃用)
# QRCODE_URL=http://localhost

# Redis
REDIS_HOST=localhost

# 并发任务数
TASK_CONCURRENCY=20

# BULL-UI 用户名和密码
BULL_USERNAME=root
BULL_PASSWORD=123456

# JWT_TOKEN 盐（务必修改此值）
JWT_SALT=

# PANEL
PANEL_HOST=
PANEL_NAME=
